<h1>New password_update</h1>

<% form_for(@password_update) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

